<!DOCTYPE html>
<title>
  Chat ( Beta Verison )
</title>
<meta name="description" content="test website." />
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://study.ibrahimf.cf/chat/style.css"/>
  </head>
  <body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://study.ibrahimf.cf/chat/jquery-2.1.4.min.js"></script>
    </script>
    <div id="prompt">
      <div id="name-info">
        Terms<br/>
        You Sure ?
        <button onclick="rename()" id="agree-button">Yes I'm Sure & Agree All Terms</button>
      </div>
    </div>
    <div id="main-container">
      <div id="main-label">
        <h3>Chat
        <a href="http://study.ibrahimf.cf" style="color: #FFFFFF" style="text-decoration:none">Home</a>
        </h3>
      </div>
      <div id="main-content">
        <div id="main-spinner" class="spinner"></div>
        <div id="chats">
          
        </div>
        <div id="controls">
          <input id="message" placeholder="Type a message..."/>
          <button id="send" onclick="send()">Send</button>
        </div>
        <div id="who-container">
          <p id="who-label">Online users</p>
          <div id="who-content">
            <div id="who"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="messages-contaner">
     
    </div>
    <div id="reply-tooltip" class="tooltip">Reply</div>
    <div id="copy-tooltip" class="tooltip">Copy</div>
    <script src="https://study.ibrahimf.cf/chat/main.js"></script>
   </body> 
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-4486997316041600",
    enable_page_level_ads: true
  });
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-100511291-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-100511291-2');
</script>
<script>
const element = document.querySelector('#agree-button');
element.click();
</script>
</html>