<html>
<head>
  <link rel="icon" href="https://cdn.ibrahimf.cf/images/887ca8ba93cd4370862629eb13b7c260.png" type="image/x-icon">
  <title>Account - <%= username %></title>
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link href="https://study.ibrahimf.cf/account/versettings.css" rel="stylesheet">
<script>
  const fadeOut = () => {
    const loadinghome = document.querySelector("#loadinghome");
    loadinghome.classList.add("show");
    loadinghome.classList.remove("hide");
    const loadingplache = document.querySelector("#loadingplache");
    loadingplache.classList.add("hide");
    loadingplache.classList.remove("show");
}

window.addEventListener("load", fadeOut);
</script>
<style>
.show{
  display:block;
}
.hide{
  display:none;  
}
.
</style>
</head>
<body>
   <!--   header -->
  <%- include('../shortcuts/header.ejs')%>
<!-- end header -->
<!-- loading Home -->
<div class="show placeholder-glow" id="loadingplache" aria-hidden="true">
  <div class="nav nav-tabs" style="height: 40px;">
      <span class="placeholder col-2"></span>
  </div>

<div class="card position-absolute top-50 start-50 translate-middle" style="height: 150px;width:200px;">
  <div class="card-body">
    <center>
<a class="placeholder col-7"></a><br><br>
<a class="placeholder col-7"></a><br><br>
            <button type="button" class="btn btn-primary animate__flip disabled placeholder col-6" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
</center>
</div>
</div>
</div>
<!-- end loading Home  -->
<!-- header tab -->
<div class="hide" id="loadinghome">
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" tabindex="-1">Password</button>
  </div>
</nav>
<!-- end header tab -->
<!-- home -->
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
<!-- box home -->
<div class="card position-absolute top-50 start-50 translate-middle">
  <div class="card-body">
    <center>
Username : <a class="text-primary"><%= username %></a><br><br>
Email : <a class="text-primary"><%= email %></a><br><br>
      <button type="button" class="btn btn-primary animate__flip" data-bs-toggle="modal" data-bs-target="#changeemail">
  Delete Email
</button>
    </center>
</div>
</div>
<!-- end box home -->
<!-- change email fade  -->
<div class="modal fade" id="changeemail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Email</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
            <div class="modal-body">
<!-- code delete email -->
      <form action="editemailhome" method="post" class="form-floating">
        <div class="input-group mb-3">
          <div class="input-group-text">
            <input class="form-check-input mt-0" type="checkbox" onclick="myFunction()">&nbsp;Show Confirm Password
          </div>
          <input type="password" id="psw" class="form-control" id="floatingInputGroup1" placeholder="confirm password" name="confirm_password" required>
      </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>     
        <input type="submit" value="Delete Email" class="btn btn-primary">
        </form>
<!-- end code delete password -->
        </div>
<!--         <input type="submit" value="Delete Email" class="btn btn-primary"> -->
        
    </div>
  </div>
</div>
<!-- end change email fade -->
<!-- toast home -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div class="toast" id="liveToast" role="alert" aria-live="polite" aria-atomic="true" data-bs-delay="10000000">
    <div class="toast-header">
      <img src="https://cdn.ibrahimf.cf/images/887ca8ba93cd4370862629eb13b7c260.png" width="35px" height="35px" class="rounded me-2" alt="...">
      <strong class="me-auto">Hey : <%= username %></strong>
      <small>Welcome</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" id="close-btn"></button>
    </div>
    <div class="toast-body">
      Hey, You New For Dashboard ? <br>You can contact with support in <a href="#">Soon..</a>
    </div>
  </div>
</div>
<!-- end toast home -->
</div>
<!-- end home -->
<!-- password -->
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
<!-- box password -->
<div class="card position-absolute top-50 start-50 translate-middle">
  <div class="card-body">
    <center>
Username : <a class="text-primary"><%= username %></a><br><br>
Email : <a class="text-primary"><%= email %></a><br><br>
      <button type="button" class="btn btn-primary animate__flip" data-bs-toggle="modal" data-bs-target="#changepassword">
  Change Password
      </button>
    </center>
</div>
</div>
<!-- end box password -->
<!-- change password fade -->
<div class="modal fade" id="changepassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
<!-- code change password -->
      <form action="change-password-account" method="post" class="form-floating">
        <div class="input-group mb-3">
          <div class="input-group-text">
            <input class="form-check-input mt-0" type="checkbox" onclick="myFunction()">&nbsp;Show Password
          </div>
          <input type="password" id="psw" class="form-control" id="floatingInputGroup1" placeholder="What's your New Password ?" name="new_password" required>
      </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>     
        <input type="submit" value="Change Password" class="btn btn-primary">
        </form>
<!-- end code change password -->
        </div>
      </div>
    </div>
  </div>
<!-- end change password fade --> 
<!-- toast password -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div class="toast" id="liveToast" role="alert" aria-live="polite" aria-atomic="true" data-bs-delay="10000000">
    <div class="toast-header">
      <img src="https://cdn.ibrahimf.cf/images/887ca8ba93cd4370862629eb13b7c260.png" width="35px" height="35px" class="rounded me-2" alt="...">
      <strong class="me-auto">Hey : <%= username %></strong>
      <small>Welcome</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" id="close-btn"></button>
    </div>
    <div class="toast-body">
      Hey, You New For Dashboard ? <br>You can contact with support in <a href="#">Soon..</a>
    </div>
  </div>
</div>
<!-- end toast password -->
</div>
</div>
<!-- end password  -->
</div>
</body>
<!-- toast js -->
<script>
  const toastLiveExample = document.getElementById('liveToast')
if (localStorage.getItem('toast')===null){
    localStorage.setItem('toast', "true");
}
if (localStorage.getItem('toast')==="true"){
      const toast = new bootstrap.Toast(toastLiveExample)
    toast.show()
}
const bt = document.getElementById('close-btn');
bt.addEventListener('click', () => {
if (localStorage.getItem('toast')==="true"){
    localStorage.setItem('toast', "false");
}
});
</script>
<!-- end toast js -->
<!-- show password js -->
<script>
function myFunction() {
  var x = document.getElementById("psw");
  var xx = document.getElementById("psw2");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
  if (xx.type === "password") {
    xx.type = "text";
  } else {
    xx.type = "password";
  }
}
</script>
<!-- end show password js -->
</html>