<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pragraphs</title>
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    body {
      background-color: gray;
    }
    .pragraphs{
      padding-top: 50px;
    }
  </style>
</head>
<body>
<div class="vstack gap-3">
<div>
<center><h1 class="bg-dark text-light">A review about your city .</h1></center>
<h4 class="text-light bg-dark">Egypt has a lot of interesting places you can visit. Ismailia is one of Egypt's beautiful cities. It has a lot of green areas although it doesn't have many historical sites. A lot of pepole visit Ismailia to spend their holidays. There are attractive buildings and a lot of gardens. It's a very calm city, but it isn't boring. It has little pollution because it has no factories. The weather there is fine. there are lots of things you can do in Ismailia. You can sit on beaches, go swimming and enjoy some water sports. To conclude, I advise all pepole to visit Ismailia to have fun. I think they will have a nice time.</h4>
</div>
  
<div class="pragraphs">
<center><h1 class="bg-dark text-light">A review about something you bought online .</h1></center>
<h4 class="text-light bg-dark"> Everything in life has positive sides and negative sides. None can deny that online shopping has become popular nowdays.  Many pepole prefer it because it's easier and quicker than traditional shopping. As I'm interested in music and it's my favourite hoppy, I decided to buy a piano. My friend told me about a very good online website for music shop. When I saw their musical instrument, I was very happy about the pianos they offered. So I ordered one. The piano arrived in one day after the order, but when I opened it, it was broken. I was angry and I made a complaint. I learned that things have some advantages and disadvantages.</h4>
</div>

<div class="pragraphs">
<center><h1 class="bg-dark text-light">A biography about a famous person</h1></center>
<h4 class="text-light bg-dark">Mohamed Salah is the person who I admire most. He was born in a village in Gharbia. He is polite and hard working. He has played for many teams. He plays for Egyptian National Team. He scored many goals for our team. Now, he plays for Liverpool in England. Liverpool is a very good team. He is active and clever. He has got big smile. He is always kind to his fans. He is always helpful. He helps poor pepole. He builds many schools and hospitals. In his freetime, he likes playing viedo games and watching films. He has got a lot of important awards in Africa and Eroupe. I want to be a footballer like him.</h4>
</div>

<div class="pragraphs">  
<center><h1 class="bg-dark text-light">A short story about life experience</h1></center>
<h4 class="text-light bg-dark">Situations are the best teachers. When I was a child, I used to have many toys and I didn't use to share them with other children. My parents told me many times to share my toys with other children, but I didn't do that. One day at the park while I was playing with my toys, a dog took one of my toys and ran. Every child at the park was laughing at me. No one wanted to help me because I was selfish and I didn't share my toys with them. I spent much time running behind the dog, but I didn't have my toy back. After that day, I learnt to stop being selfish and share my things with others. </h4>
</div>
  
<div class="pragraphs">  
<center><h1 class="bg-dark text-light">A review about handicraft in Egypt</h1></center>
<h4 class="text-light bg-dark">Egypt is Famous for it's beautiful handicraft. There are many places in Egypt that make handicrafts. The handicrafts in Egypt include wooden boxes, leather products, pottery and carpets. The Egyptian handicraft are always cheaper and are of the best quality. The wooden boxes are decorated in traditional designs. The leather bags are wonderful because the leather is soft. The pots are in different colours and types. The most important handicraft in Egypt is making carpets. The carpets have many colours and aren't expensive. Tourists from all over the world come to Egypt to buy these handicrafts because they are famous all over the world.</h4>
</div>

<div class="pragraphs">  
<center><h1 class="bg-dark text-light">A review about the best and worst itmes of technology in the house</h1></center>
<h4 class="text-light bg-dark">Technology has become important in our life. No one can deny that technology has changed our life. technology has become a must in our modern life. smsrt T.V sets, mobile, phones and laptop computers are examples of technology. technology has made our life easier and more enjoyable. It tells us about what happens in our world. It makes us watch football matches all over the world and Follow our likes easily. But on other hand, they made us lazy most of times. It made us away form our real life. pepole look at screens more than they look at themselves. children have become busy playing online games and watching videos.</h4>
</div>
</div>
</body>
</html>